
<center style ='padding-top: 75px'>
	<h3 style='padding-bottom:30px'>@AccentGlobal</h3>
	<h1  class ='h1' style='font-size:50px;'>Thanks!<br><h2>Your Inbox is about to get a lot better.</h2></h1><br>
	<p style = 'width: 700px; font-size:18px'> Hey, this is Vyasa Palffy. Please check your inbox for a confirmation email in a couple minutes. While you wait (and/or hit refresh in your inbox 15 times), invite your friends to check out my blog. Sharing is the biggest compliment I can receive!</p><br><br><br>
	<table>
		<tr>
			<td><a href="https://www.facebook.com/sharer/sharer.php?u=http://vyasapalffy.co"><img style='padding-right:10px;' src = '//i.imgur.com/8Xar3F0.png'></a> </td>
			<td><a href="http://ctt.ec/A4r5a"><img src="//i.imgur.com/8heguwP.png" alt="Tweet: @VyasaPalffy @AccentConcierge Just signed up for his blog at http://ctt.ec/A4r5a+ You should check it out too. #lifestyle  #liveyourlife " /></a></td>
		</tr>
	</table>
	
	<table style="padding-top:70px;">
		<tr>
			<td><img style = 'height: 150px; border-radius: 75px' src ='//pbs.twimg.com/profile_images/624004056587972608/E3Wncys8.jpg'></td>
			<td><p style='text-align:center; font-size:25px; padding-left:40px;'>Vyasa Palffy</p></td>
		</tr>
	</table>



</center>